header {
    background-color: gray;
    color: black;
    padding: 50px;

}

header.header-mascotas {
    background-color: gray;
    border: 1px solid black;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

    padding: 40px;

}

section {
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
}




a:hover {

    color: red;
}

a {
    text-decoration: none;
}

li {
    margin: 10px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 100px;
}

.info {
    display: flex;
    flex-direction: column;
}



.contenedor-mascotas {
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
}

.mascota {
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

}

.mascota:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}