<!DOCTYPE html>
<html lang="es">
<header class="header-mascotas">
    <h1>Mis Mascotas</h1>
</header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">


    <title>Mascotas</title>

</head>
<section class="contenedor-mascotas">
    <div class="mascota">
        <h2>Gato</h2>
        <img src="/public/img/gato2.jpeg" alt="">
        <p>Los gatos son la mascota ideal para quienes buscan una
            compañía más autónoma, silenciosa y adaptada a la vida
            en espacios pequeños.
        </p>
    </div>



    <div class="mascota">
        <h2>Perro</h2>
        <img src="/public/img/perro1.jpeg" alt="">
        <p>Los perros son los animales de compañía más populares
            del mundo,
            conocidos como el mejor amigo del hombre por su lealtad y
            capacidad para crear vinculos emcionales
        </p>
    </div>



    <div class="mascota">
        <h2>Loro</h2>
        <img src="/public/img/loro3.jpeg" alt="">
        <p>A diferencia de perros y gatos, tener un loro como mascota
            es
            integrar a un animal exótico, sumamente inteligente y social
            que puede vivir décadas (algunas especies hasta 80 años).
    </div>




    <div class="mascota">
        <h2>Tigre</h2>
        <img src="/public/img/tigre5.jpeg" alt="">
        <p>Es el felino más grande del mundo, reconocido por su pelaje naranja con rayas negras únicas, cuerpo musculoso
            y
            gran capacidad nadadora. Es un mamífero carnívoro solitario y nocturno, nativo de Asia, que utiliza el
            sigilo
            para cazar.</p>
    </div>



    <div class="mascota">
        <h2>Leon</h2>
        <img src="/public/img/leon4.jpeg" alt="">
        <p> es un gran felino carnívoro, conocido como el "rey de la selva" o de la sabana, caracterizado por su pelaje
            amarillento y, en los machos, una imponente melena. Son animales sociables que viven en manadas, cazan
            principalmente de noche en grupo (liderado por las hembras) y habitan mayormente en el África subsahariana
        </p>
    </div>



    <div class="mascota">
        <h2>Hanster</h2>
        <img src="/public/img/hanster6.jpeg" alt="">
        <p>l hámster es un pequeño roedor nocturno y solitario, popular como mascota por su fácil cuidado. Físicamente
            se caracteriza por su cuerpo rechoncho, patas cortas, orejas pequeñas y una cola muy corta.</p>
    </div>
</section>
<a href="/index.html">Ir a Index</a>

<body>

</body>



</html>